<ion-header>

  <ion-navbar  color="pri-dark">
    <ion-title text-center>My Listings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="not-available"  text-center *ngIf="notAvailable">
    <h6>You have no listed rooms</h6>
    <button ion-button outline color="pri-dark" (click)="addListing()">
        <i class="fa fa-plus fa-fw"></i>
      Add New Listing</button>
  </div>

  <section class="available" *ngIf="!notAvailable">
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let a of [1,2]">
            <ion-card>
              <img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"/>
          
              <ion-card-content no-padding padding-right padding-left>
                <ion-card-title>
                    Mutare <i class="fa fa-ellipsis-v" aria-hidden="true"></i> Hobhouse 3
                </ion-card-title>
      
                <ion-grid no-padding>
                  <ion-row>
                    <ion-col col-8 text-left>
                      <p class="street">Tangwena street</p>
                      <p class="avail"><i class="fa fa-ellipsis-v" aria-hidden="true"></i> 4 Shareable rooms available</p>
                    </ion-col>
                    <ion-col text-center>
                      <ion-note>Start From</ion-note>
                      <p>45/Month</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                
              </ion-card-content>
          
              <ion-row no-padding class="btn-row">
                <ion-col text-center col-6>
                  <button ion-button outline color="sec-dark" no-shadow text-capitalize>
                    Edit
                  </button>
                </ion-col>
                <ion-col text-center col-6>
                  <button ion-button outline color="sec-dark" no-shadow text-capitalize>
                    view details
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <ion-fab right bottom *ngIf="!notAvailable">
    <button ion-fab class="creat-acc" color="sec-dark" (click)="addListing()">
        <span class="fa-stack fa-lg">
          <i class="fa fa-home fa-stack-1x f-top"></i>
          <i class="fa fa-plus fa-stack-1x f-bottom"></i>
        </span>
    </button>
  </ion-fab>

</ion-content>
