page-landlord-register {

    ion-content{
        text-align: center;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a1f1f+0,16314f+88 */
        background: rgb(58,31,31); /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(58,31,31,1) 0%, rgba(22,49,79,1) 88%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(58,31,31,1) 0%,rgba(22,49,79,1) 88%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(58,31,31,1) 0%,rgba(22,49,79,1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    img{
        width: 40%;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    ion-item{
        background-color: transparent !important;
    }
    .content {
        color: #fafafa;
    }
    .alert-content{
        color: #1c1910;
    }

    .fab-md-pri-light {
        color: #fff;
        background-color: transparent;
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
    }

    .actn-btns{
        height: 2.5em;
        font-size: 1.5rem;
    }

    .form{
        padding-right: 16px;
    }
}
