page-landlord-register {

    ion-content{
        text-align: center;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a1f1f+0,16314f+88 */
        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    img{
        width: 40%;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    ion-item{
        background-color: transparent !important;
    }
    .content {
        color: #fafafa;
    }
    .alert-content{
        color: #1c1910;
    }

    .fab-md-pri-light {
        color: #fff;
        background-color: transparent;
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
    }

    .form{
        padding-right: 16px;
    }
}
