page-dashboard {


    // ion-content {
    //     background-image: url('https://images.pexels.com/photos/1248157/pexels-photo-1248157.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    //     background-size: cover;
    //     background-position-x: 50%;
    // }

    .stats {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#772323+0,3f4c6b+100 */
        background: rgb(119,35,35); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(119,35,35,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(119,35,35,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(119,35,35,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#772323', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
        min-height: 40%;
        color: color($colors, secondary);
        hr{
            background-color: rgb(181, 150, 11);
            display: block;
            width: 100%;
        }
    }
    .add-house{
        border: 1px solid rgb(138, 126, 126);
        border-radius: 5px;
        position: relative;
        text-align: center;

        ion-card-content{
            padding-bottom: 30px !important;
            p{
                padding-top: 10px;
                color: color($colors, primary);
                font-size: 1.7rem;
            }
        }
    }

    .img {
        img{
            margin: auto;
            width: 20%
        }
    }
      
      .top-r{
        ion-card-content {
            padding: 0 5px;
        }

        ion-col {
            padding: 0px;
        }

        ion-card{
            padding-bottom: 10px;
        }
 
      }
 
      .home-title{
          margin-bottom: unset;
          h5{
            margin: 2px 0;
            font-size: 1.9rem;
            font-weight: bold;
            line-height: 2;
          }
        
      }

      .home-card-content{
          padding-bottom: 5px;
        ion-card-title{
            font-size: 1.6rem;
            line-height: 1;
            margin: unset;
            padding: 5px 0;
            text-align: center;
            font-weight: bold;
        }
        ion-note{
            color: #717171;
            display: block;
        }
      }

      .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
        height: 15px;
        width: 15px;
      }

      .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] ion-icon[_ngcontent-c0] {
        font-size: 15px;
    }

      .rating{
        margin-top: 5px;
        margin-left: 5px;
        font-weight: bold;
      }
}
