<ion-header no-border>

  <ion-navbar #navbar>
    <ion-title>Step {{step}}-8</ion-title>

  </ion-navbar>
    <ion-toolbar class="step-toolbar">
        <ion-range disabled min="0" max="8" pin="false" [(ngModel)]="step" color="primary" no-padding></ion-range>
    </ion-toolbar>

</ion-header>


<ion-content no-padding>
    <ion-range float-left disabled min="0" max="8" pin="false" [(ngModel)]="step" color="primary" no-padding></ion-range>
    <div padding-top></div>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ion-slide class="step-one" #locationSlider>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

            <ion-list no-lines>
    
                <form [formGroup]="locationForm">
    
                    <ion-item>
                        <ion-label floating>First Name</ion-label>
                        <ion-input formControlName="cityName" type="text"></ion-input>
                    </ion-item>
    
                    <ion-item>
                        <ion-label floating>Last Name</ion-label>
                        <ion-input formControlName="location" type="text"></ion-input>
                    </ion-item>
    
                    <ion-item>
                        <ion-label floating>Age</ion-label>
                        <ion-input formControlName="age" type="number"></ion-input>
                    </ion-item>
    
                </form>
    
            </ion-list>
        </ion-slide>
    
        <ion-slide class="step-two">
            <ion-img src="../../../assets/imgs/house.svg"></ion-img>
            <h1>Heading</h1>
            <p>Two</p>
        </ion-slide>
    
        <ion-slide class="step-three">
            <ion-img src="../../../assets/imgs/house.svg"></ion-img>
            <h1>Heading</h1>
            <p>Three</p>
        </ion-slide>

        <ion-slide class="step-four">
            <ion-img src="../../../assets/imgs/house.svg"></ion-img>
            <h1>Heading</h1>
            <p>Four</p>
        </ion-slide>

        <ion-slide class="step-five">
            <ion-img src="../../../assets/imgs/house.svg"></ion-img>
            <h1>Heading</h1>
            <p>Five</p>
        </ion-slide>

        <ion-slide class="step-six">
            <ion-img src="../../../assets/imgs/house.svg"></ion-img>
            <h1>Heading</h1>
            <p>Six</p>
        </ion-slide>

        <ion-slide class="step-seven">
            <ion-img src="../../../assets/imgs/house.svg"></ion-img>
            <h1>Heading</h1>
            <p>Seven</p>
        </ion-slide>

        <ion-slide class="step-eight">
            <ion-img src="../../../assets/imgs/house.svg"></ion-img>
            <h1>Heading</h1>
            <p>Eight</p>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer text-center no-border >
    <button ion-button class="footer-button" text-capitalize (click)="nextStep()" [disabled]="stepError"> 
        <span *ngIf="step == 1">Confirm Address</span>
        <span *ngIf="step > 1 && step != 8">Next</span>
        <span *ngIf="step == 8">Preview</span>
    </button>
</ion-footer>
