page-landlord-login {
    ion-content{
        text-align: center;
        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fafafa;
        img{
            width: 40%;
            margin-top: 50px;
        }

        .main-content{
            margin-top: 25px;
        }
        ion-item{
            background-color: transparent !important;
        }

        .title{
            color: #fafafa !important;
            text-align: left;
        }

        .instrct-text{
            margin-top: 0.7rem;
            text-align: right;
            color: color($colors, primary);
        }

        .terms{
            text-align: left;
            margin-bottom: 10px;
            color: color($colors, primary);
        }

        .form{
            padding-right: 16px;
        }

        ion-fab[bottom] {
            bottom: 25px;
        }

        .fab-md-pri-light:not(.creat-acc) {
            color: #fff;
            background-color: transparent;
            -webkit-box-shadow: unset !important;
            box-shadow: unset !important;
        }

        .actn-btns{
            height: 2.5em;
            font-size: 1.5rem;
        }

    }
}
